<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.likitana.vaccin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Launch" />
        <activity
            android:name=".activity.VaccinsActivity"
            android:label="@string/title_activity_vaccins"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.VaccinsVoyageActivity"
            android:label="@string/title_activity_vaccins_voyage"
            android:parentActivityName=".activity.VaccinsVoyageTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.VaccinsVoyageTypeActivity" />
        </activity>
        <activity
            android:name=".activity.ActualitesActivity"
            android:label="@string/title_activity_actualites"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.CalendriersActivity"
            android:label="@string/title_activity_vaccins_calendrier"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.PaysActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.PaysActivity" />
        </activity>
        <activity
            android:name=".activity.AbbreviationsActivity"
            android:label="@string/title_activity_abreviations"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.MonDossierFamilleActivity"
            android:label="@string/title_activity_mon_dossier_famille"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.MonProfilActivity"
            android:label="@string/title_activity_mon_profil"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.VaccinationDefinitionActivity"
            android:label="@string/title_activity_vaccination_definition"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.VaccinActivity"
            android:label="@string/title_activity_vaccin"
            android:parentActivityName=".activity.VaccinsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.VaccinsActivity" />
        </activity>
        <activity
            android:name=".activity.PaysActivity"
            android:label="@string/title_activity_pays"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.VaccinsVoyageTypeActivity"
            android:label="@string/title_activity_vaccins_voyage_type"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.PaysActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.PaysActivity" />
        </activity>
        <activity
            android:name=".activity.ActualiteActivity"
            android:label="@string/title_activity_actualite"
            android:parentActivityName=".activity.ActualitesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.likitana.vaccin.activity.ActualitesActivity" />
        </activity>
        <activity
            android:name=".activity.CalendrierActivity"
            android:label="@string/title_activity_calendrier"
            android:parentActivityName=".activity.CalendriersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CalendriersActivity" />
        </activity>
    </application>

</manifest>